[Desktop Entry]
Encoding=UTF-8

Name=TumTum
GenericName=GUI app for testing liveness detection
Exec=tumtum %u
Terminal=false
Type=Application
Icon=vn.hoabinh.quan.TumTum
StartupNotify=true
Categories=GTK;Office;Graphics;AudioVideo;Video;Scanning;
